body{
	background: #D6EAF8;
	font-size: 150%;
	margin: 4%;
}

body, nav{
  margin: 0%;
  padding: 0;
}

nav{
	background-color: #154360;
 	position: fixed;
 	z-index: 1;
 	width: 100%;
 	font-size: 14px;
 }
nav li a:hover{
	text-decoration: underline;
}

.nav_link{
  text-decoration: none;
  color: white;
}

nav ul {
  	margin: 0 auto;
  	text-align: center;
  	padding: 20px;
}
 nav ul li{
 	  display: inline-block;
  	margin: 0 25px;  /* 0 top and bottom, 15 left and right */
  	padding: 0;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	color: white;
  	text-decoration: none;
}

.portrait{
	display: block;
}

header,footer{
	background: #85C1E9;
}

header{
	text-align: center;
	padding: 15px;
	display: block;
}

footer{
	clear: both;
  text-align: center;
}

.portrait{
  display: block;
  font-size: 100px;
  margin: 0 auto;
}

.resume{
  	display: block;
  	margin: 0 auto;
}

.body{
  margin:0 4%;
}

img{
  width: 50%;
  border: 2px solid;
  margin: 10%;
}