nav{
	background: #EBF5FB;
	display: inline-block;
}

header,footer{
	background:#85C1E9;
}

header{
	text-align: center;
	padding: 15px;
}

footer{
	clear: both;
}

body{
	background: #B3B3B3;
	font-size: 150%;
	margin: 4%;
}