nav{
	background-color: #154360;
 	position: fixed;
 	z-index: 1;
 	width: 100%;
 	font-size: 14px;
 }

 nav ul li{
 	display: inline-block;
  	margin: 0 15px;  /* 0 top and bottom, 15 left and right */
  	padding: 0;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	color: #FFFFFF;
  	text-decoration: none;
}

nav li a:hover{
	text-decoration: underline;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

header,footer{
	background: #85C1E9;
}

header{
	text-align: center;
	padding: 15px;
	display: block;
}

footer{
	clear: both;
}

body{
	background: #D6EAF8;
	font-size: 150%;
	margin: 4%;
}

